@import "tailwindcss";

@theme {
  --color-main-green: var(--mainGreen);
  --color-low-gray: var(--lowGray);
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility container {
  @apply max-w-[1920px] mx-auto;
}

@utility standardContainer {
  @apply max-w-[1440px] mx-auto;
}

:root {
  --mainGreen: #0d9488;
  --lowGray: #939393;
}
body {
  font-family: "Vazir", sans-serif;
  font-feature-settings: "tnum" on;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir-Light.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Light.woff") format("woff"),
    url("../assets/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir-Medium.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Medium.woff") format("woff"),
    url("../assets/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir-Bold.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Bold.woff") format("woff"),
    url("../assets/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
