@import "tailwindcss";

@theme {
  --color-main-green: var(--mainGreen);
  --color-low-gray: var(--lowGray);
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility container {
  @apply max-w-[1920px] mx-auto;
}

@utility standardContainer {
  @apply max-w-[1440px] mx-auto;
}

:root {
  --mainGreen: #0d9488;
  --lowGray: #939393;
}
body {
  font-family: "Vazir", sans-serif; /* به جای 'Vazir' می‌توانید نام دقیق فونت را قرار دهید */
  font-feature-settings: "tnum" on; /* فعالسازی اعداد تمام‌نما (tabular numbers) */
}
